@model ToDoApp503.Models.Media

@{
    ViewBag.Title = "Medya düzenle";
}


<link href="~/Content/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
<style>
    #my-dropzone {
        background: gray;
        border: black dashed 3px;
        width: 450px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<h2>Yeni Olustur</h2>


@using (Html.BeginForm("Edit", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medya</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Extension)



        <div class="form-group">
            <label class="control-label col-md-2"> Dosya:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FilePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Dosya Yükle :</label>
            <div id="my-dropzone" class="col-md-10 dropzone dropzone-file-area">
                <h3 class="sbold">Dosyayı buraya sürükleyin veya tıklayın</h3>
            </div>
        </div>

        @Html.HiddenFor(model => model.FileSize)

        @Html.HiddenFor(model => model.Year, new { @Value = DateTime.Now.Year.ToString() })

        @Html.HiddenFor(model => model.Month, new { @Value = DateTime.Now.Month.ToString() })

        @Html.HiddenFor(model => model.ContentType)

        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.UpdateDate)
        @Html.HiddenFor(model => model.UpdatedBy)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>

@section Scripts {
    <script src="~/Content/assets/global/plugins/dropzone/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $("div#my-dropzone").dropzone({
            url: "/Media/SaveUploadedFile", uploadMultiple: false, maxFiles: 1, init: function () {
                this.on("complete", function (data) {
                    var res = JSON.parse(data.xhr.responseText);
                    $("#FilePath").val(res.Message);
                    if (res.success == false) {
                        $("#FilePath").css("border-color", "red");
                    }
                });
            }
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
